@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Montserrat');
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #282D31;
    color: #F7F7F9;
    font-weight: 300;
}

h1, h2, h3, h4{
    font-family: 'Fredericka the Great', cursive;
}
/* style main container */

.main-container {
    padding: 0 40px;
    background-image: url(../img/laptopMacDark.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* Style navigation bar */

.nav-bar {
    margin: 0 auto;
    padding: 15px 0;
    background: linear-gradient(70deg,transparent 60%,rgb(247,247,249, 0.40), transparent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.nav-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar ul li{
    display: inline-flex;
    padding: 0 20px;
}

.nav-bar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #282D31;
}

.fas {
    font-size: 30px;
}

/* style ShowCase */

.show-Case{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show-Case p{
    margin: 0;
    padding: 10px;
    text-shadow: 2px 4px 2px #282D31;
    
}

.myName{
    color: #8DCC76;
    font-weight: bold;
}

.show-Case h1{
    margin: 0;
    padding: 15px 0;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    text-shadow: 2px 4px 2px #282D31;
    border-bottom: 2px solid #8DCC76;
    border-top: 2px solid #8DCC76;
    text-transform: uppercase;
}

/* Styling About me section */

.about-container{
    background-color: #F7F7F9;
    /* height: 80vh; */
    color: #282D31;
    display: flex;
    
}

.my-img{
    height: 80vh;
    width: 50vw;
    box-sizing: border-box;
}


.about-content{
    padding: 20px 40px;
    margin: 20px 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
    border: 0px solid #485365;
    box-shadow: 2px 4px 2px 4px lightgrey;
    
}

.about-me{
    flex-basis: 25%;
    text-align: justify;
    box-sizing: border-box;
}

.about-me h2{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.about-me p{
    color: #485365;
}

.pro-content{
    flex-basis: 25%;
    text-align: center;
    box-sizing: border-box;
}

.pro-content h3{
    font-size: 25px;
    font-weight: 500;
}

.fancy-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.fab{
    padding: 5px;
    font-size: 60px;
    color: #8DCC76;
    text-shadow: 5px 8px 5px #485365;
}

@media (min-width: 300px) and (max-width: 1250px){

    .about-content{
        padding: 5px 30px;
        
    }
    .about-me{
        font-size: 15px;
        box-sizing: border-box;
    }
    .about-me h2{
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
    }

    .pro-content{
        box-sizing: border-box;
    }
    .pro-content h3{
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
        
    }

    .fab {
        font-size: 40px;
        text-shadow: 2px 5px 2px #485365;
    }

}

@media screen and (max-width: 800px){
    .about-container{
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    .my-img{
        margin-top: 30px;
        max-height: 300px; 
        max-width: 300px;
        border: 2px solid #485365;
        border-radius: 100%;
    }
}

/* Stying My work section */

.my-work{
    /* height: 60vh; */
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.work-tittle{
    text-align: center;
    font-size: 45px;
}

.box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-container{
    margin: 20px;
    background: white;
    color: #485365;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}
/* .box-work img{
    width: 100%;
    height: 100%;
} */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: auto;
}

/* adding media queries to my work */
@media (max-width: 400px){
    .about-container{
        padding: 20px;  
        box-sizing: border-box;
    }

    .about-content{
        margin: 0 auto;
        box-sizing: border-box;
    }
}

/* styling Contact section and footer */

.contact-container{
    padding: 10vh 0;
    background: url(../img/fistbump.jpeg) no-repeat;
    background-color: #485365;
    background-size: 100rem;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: flex-end;

}

.contact-position{
    flex-basis: 50%;
    margin-right: 40px;
    color: #F7F7F9;
}

.contact-container h4{
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 2px 2px black;
}

.text{
    color: #8DCC76;
}

.btn-contact{
    background-color: #485365;
    border: 2px solid #282D31;
    border-radius: 5%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    color: #F7F7F9;
    font-weight: 700;
}

.btn-contact a{
    text-decoration: none;
    color: #F7F7F9;
}

.btn:hover{
    background-color: #8DCC76;
    color: #282D31;
    text-shadow: 2px 2px 2px #485365;
}



